body{
	background: rgb(102,187,152);
}
html{
	overflow: hidden;
}
/*
#VerhnyayaHrenb {
	width: 100%;
    height: 80px;
	background: rgb(0,127,23);
	border-color: rgb(32,83,87);
	outline: 2px solid rgb(32,83,87);

}
span{
	margin-left: 10%;
	margin-top: 5%;
	font-size: 200%;
	color:  rgb(194,254,186);
}
*/
#karpati{
	margin-left: -2%;
	width: 103%;
/*	filter: blur(5px);*/

}
.Blur{
	width: 1000%; 
    height: 1000%;
    background: rgba(0,0,0,0.8);
    margin-top: -59%;
    margin-left: -2%;		
    position: fixed;
    z-index: 1;
    filter: blur(6px);
}
.karpatiTXT{
	z-index: 5;
	position: fixed;
	color:white;
	font-size: 23px;
	margin-top: -42%;
	margin-left: 15%;
	margin-right: 15%;
}
.goUpTXT{
	margin-top: -47%;
	margin-left: 45%;
	z-index: 2;
	font-size: 50px;
	color: white;
	font-family:sans-serif;
	position: fixed;
}

/*
#goUpTXT.up{
content: ('GoUp');
}

#goUpTXT.down{
content: ('dofhbkadofiuvndiuvsfvbuhsfuvdfoiuvbhsfiubhsfuigbnsiofubnuifgbndufsbnsugbnsofaaasdfasdfsdfasdfasdfasdfasdfasdfasdfsdfggereergegergeergrbnfugbnsufgnbsiufnbuisfnbusdnbusdfnbudsnfbusbusfnboi');
}
*/
.topmenu{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index:3;	
}

.topmenu ul{
	list-style-type: none;
	padding: 0;
	margin: 0 auto;
	width: 1800px;
}

.topmenu li{
	display: block;
	float: left;
	min-height: 25px;
	font-family: sans-serif;
	font-size: 24px;
/*	background-color: rgb(0,127,23);*/
	background-color: rgb(32,83,87);
}

.topmenu li a{
	color:  rgb(194,254,186);
	padding: 0 80px;
	text-decoration: none;
	transition-property: all;
	transition-duration: 0.7s;
}

.topmenu li a:hover{
	background-color: rgb(194,254,186);
/*	color: rgb(0,127,23);*/
	color: rgb(32,83,87);
	border-bottom: 1px solid rgb(102,187,152);
}

.text{
	margin-top: 45px;
}
